.cache
dist
.DS_Store
._.DS_Store
img/.DS_Store
img/._.DS_Store
img/._alphabet.gif
img/._bench.gif
img/._billboard.gif
img/._billboard_0.gif
img/._billboard_1.gif
img/._billboard_2.gif
img/._billboard_3.gif
img/._cabin.gif
img/._chair.gif
img/._church.gif
img/._cow_east.gif
img/._cow_north.gif
img/._cow_south.gif
img/._cow_west.gif
img/._cow_west_branded.gif
img/._dead_cow.gif
img/._fence_east.gif
img/._fence_north.gif
img/._fence_south.gif
img/._fence_west.gif
img/._gravestones.gif
img/._mansion.gif
img/._native.gif
img/._native_chief.gif
img/._saloon.gif
img/._signpost.gif
img/._signpost_tall.gif
img/._station.gif
img/._tepee.gif
img/._totem.gif
img/._watertower.gif
js/Session.vim
photoshop/.DS_Store
photoshop/._.DS_Store
photoshop/._bench.psd
photoshop/._cabin.psd
photoshop/._chair.psd
photoshop/._clocks.psd
photoshop/._mansion.psd
photoshop/._post-office.psd
photoshop/._saloon.psd
photoshop/._station.psd
sound_effects/raw
