body {
 text-align: center;
 background-color: goldenrod;
 margin: 0;
}

#stack {
  width: 800px;
  height: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: solid black 1px;
}
