body {
 text-align: center;
 background-color: goldenrod;
 margin: 0;
 overflow-y: hidden;
}


#stack {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#backstage {
  visibility: hidden;
}

#textworld {
}

#image-container {
  display: none;
}

img {
  display: none;
}

#console {
  max-height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  overflow: scroll;
  background-color: rgba(0,0,0,.2);
  margin: 0;
  z-index: 100;
}

.joystick {
  position: fixed;
  bottom: 20px;
  width: 100px;
  height: 100px;
}

#joystick-left {
  left: 20px;
}

#joystick-right {
  right: 20px;
}

#sound-controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}

#sound-controls img {
  display: inline-block;
  margin: .5em;
}

#sound-off.hidden, #sound-on.hidden {
  display: none;
}

#sound-off, #sound-on, #sound-next {
  cursor: pointer;
}

.gogray {
  animation-duration: 3s;
  animation-name: fadetogray;
  animation-fill-mode: forwards;
}

.brighten {
  animation-duration: 1s;
  animation-name: bacfromgray;
  animation-fill-mode: forwards;
}

@keyframes fadetogray {
  from {
    filter: grayscale(0%);
  }

  to {
    filter: grayscale(100%);
  }
}

@keyframes backfromgray {
  from {
    filter: grayscale(100%);
  }

  to {
    filter: grayscale(0%);
  }
}